@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

/* Context Menu Animation */
@keyframes scaleIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.context-menu-anim {
    animation: scaleIn 0.1s ease-out forwards;
}

/* Indeterminate Progress Bar */
@keyframes progress-indeterminate {
    0% {
        transform: translateX(-100%) scaleX(0.2);
    }
    50% {
        transform: translateX(0%) scaleX(0.5);
    }
    100% {
        transform: translateX(100%) scaleX(0.2);
    }
}

.animate-progress-indeterminate {
    animation: progress-indeterminate 1.5s infinite linear;
    width: 100%;
}
